.about-header {
    background-color: var(--color-complementary);
    color: white;
    padding: 3rem;
    padding-left: 7rem;
}

.about-header > h1 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px) {
    .about-header {
        padding: 3rem;
    }
}