.no-seat-alert__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary__shaded);
    color: white;
    text-align: center;
    width: 100%;
}

.no-seat-alert {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-seat-alert h2 {
    margin-bottom: 0.5rem;
}

