.contact-strip {
    background: var(--color-complementary);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(var(--contact-strip-height) + 2rem);
}

.contact-strip li p {
    color: white;
    font-size: 13px;
}

.contact-strip li {
    text-decoration: none;
}

.contact-strip ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact-strip__location {
    margin-left: 2.5rem;
}

.contact-strip__location li {
    display: flex;
    flex-direction: row;
}

.contact-strip__location img {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
}

.contact-strip__media {
    margin-left: auto;
    margin-right: 3.5rem;
}

.contact-strip__media li {
    margin-left: 0.75rem;
}

.contact-strip__media img {
    width: 20px;
    height: 20px;
}