.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 0.5rem;
}

.main-navigation__drawer-links > .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-navigation__nav-links .nav-links__centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.main-navigation__nav-links .nav-links__right {
    display: flex;
}

.main-navigation__drawer-links .nav-links__right div {
    margin-top: 1rem;
}

.nav-links li {
    display: inline-block;
    padding: 0 0.4rem;
}

.nav-links li > a {
    padding: 0.75rem;
}

.nav-links li > a:hover {
    background-color: var(--color-main__shaded);
    border-radius: 5px;
}
.nav-links li > a.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
}

.nav-links li a,
.nav-links li div > button,
.nav-links .heading {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: black;
}

/* .nav-links li a:hover,
.nav-links li div > button:hover,
.nav-links__drawer-dropdown-list > li > a > div > p:hover,
.nav-links li div > button:focus {
    border-color: #292929;
    border-radius: 5px;
    transition: all 0.35s ease;
    cursor: pointer;
    border: 1px solid #292929;
    color: white;
    background: #292929;
    padding: 0.5rem;
    font: inherit;
} */

.nav-links__drawer-dropdown-list {
    margin-top: 1.5rem;
}

.nav-links__drawer-dropdown-list > li {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

.nav-links__dropdown-btn {
    background: transparent;
    padding: 0.6rem;
}

.nav-links__dropdown-btn:hover {
    background: transparent;
}

.nav-links__dropdown-btn:active {
    background: transparent;
}

.nav-links__dropdown-item {
    padding: 0;
}

.nav-links__dropdown-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.nav-links__dropdown-header img {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.75rem;
}

.nav-links__dropdown-header a {
    margin-top: auto;
    margin-bottom: auto;
    width: 11rem;
    letter-spacing: 1px;
}

.nav-links__cta {
    margin-right: 1rem;
}

.nav-links__cta a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

@media screen and (max-width: 1000px) {
    .nav-links > li {
        margin-bottom: 1.5rem;
        border-color: var(--color-primary);
        border-width: 1rem;
        width: 60%;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        display: block;
        padding-left: 0;
        padding-bottom: 1.5rem;
        margin: auto;
        text-align: center;
    }

    .nav-links__cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
