.home__about-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7rem;
    padding-bottom: 5rem;
    background-color: rgb(250, 250, 250);
    padding-top: 5rem;
}

.about-info__visual div > img {
    width: 30rem;
    margin-bottom: 1rem;
}

.about-info__visual {
    margin-right: 7rem;
}

.about-info__content {
    width: 50%;
}

.about-info__content h1 {
    margin-bottom: 2rem;
}

.about-info__content img {
    width: 10rem;
    margin-bottom: 1rem;
}

.about-info__content-slogan {
    margin-top: 2rem;
}

.about-info__deep-content {
    text-align: center;
    width: 60%;
    margin-bottom: 5rem;
    margin-top: 0rem;
}

.home__about-info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .about-info__visual {
        display: none;
    }

    .about-info__content {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .about-info__content {
        text-align: center;
    }
    .home__about-info {
        padding: 3rem;
    }
}
