.home__cta {
    background-color: var(--color-secondary);
    text-align: center;
    padding: 5rem;
}

.home__cta > h1 {
    margin-bottom: 1rem;
}

.home__cta > a {
    margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
    .home__cta {
        text-align: center;
        padding: 2.5rem;    
    }
}
