.home__cta {
    background-color: var(--color-primary__shaded-bold);
    color: white;
    text-align: center;
    padding: 5rem;
}

.home__cta h1 {
    margin-bottom: 0.5rem;
}

.home__cta a {
    margin-top: 3rem;
    padding: 0.2rem 1.5rem;
}

.cta__btn-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cta__btn-list a {
    margin-right: 1rem;
    background-color: var(--color-secondary);
    color: black;
}

.cta__btn-list a:hover {
    background-color: rgb(206, 206, 206);
}

.cta__btn-list a:last-child:hover {
    background-color: var(--color-primary__shaded);
}

.cta__btn-list a:last-child {
    margin-right: 0;
    background-color: var(--color-primary);
    color: white;
}
