.home-faq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 5rem 2rem;
    background-color: rgb(250, 250, 250);
}

.faq-info {
    width: 30rem;
    margin-right: 5rem;
}

.faq-info h1 {
    margin-bottom: 0.5rem;
}

.faq-list {
    width: 30rem;
}

.faq-list button {
    background: transparent;
    color: black;
    text-decoration: none;
    border: none;
    width: 100%;
    font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
    .home-faq {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-info {
        text-align: center;
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .home-faq {
        padding: 4rem;
    }

    .faq-info {
        width: 100%;
    }

    .faq-list {
        width: 100%;
    }

    .faq-list button {
        text-align: left;
        height: 5rem;
    }
}
