.home-offers {
    padding: 5rem;
}

.home-offers > h1 {
    margin-bottom: 0.5rem;
}

.home-offers__content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 3rem;
}

.home-offers__dimensions {
    padding-top: 3rem;
    width: 30rem;
}

.home-offers__dimensions svg {
    width: 3rem;
    height: 3rem;
}
.home-offers__dimensions img {
    width: 3.5rem;
}

.home-offers__dimensions svg,
.home-offers__dimensions img {
    margin-bottom: 1rem;
}

.home-offers__dimensions li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 2rem;
}

.home-offers__dimensions li > h2 {
    margin-bottom: 0.5rem;
}

.home-offers__case-studies {
    width: 50rem;
    margin-left: 5rem;
}

.home-offers__case-studies li > img {
    margin-bottom: 1rem;
}

.home-offers__case-studies li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.home-offers__case-studies li > div {
    margin-right: 1rem;
}

.home-offers__case-studies li > div > img {
    margin-bottom: 0.75rem;
}

.case-studies__concert img {
    width: 30rem;
    height: 20rem;
}

.case-studies__art-exhibit img {
    height: 20rem;
    width: 30rem;
}

.case-studies__sporting-event img {
    width: 30rem;
    height: 20rem;
}

.case-studies__community-gathering img {
    width: 30rem;
    height: 20rem;
}

@media only screen and (max-width: 1200px) {
    .home-offers__content {
        flex-direction: column;
        margin-top: 0;
    }

    .home-offers__case-studies {
        margin-left: 0;
    }

    .home-offers__dimensions {
        width: 100%;
    }

    .home-offers__dimensions li {
        text-align: center;
    }

    .home-offers {
        text-align: center;
    }

    .home-offers__case-studies {
        width: 100%;
    }

    .home-offers__case-studies li {
        flex-direction: column;
    }

    .home-offers__case-studies li > div {
        margin-top: 2rem;
    }

    .case-studies__concert img {
        width: auto;
    }

    .case-studies__art-exhibit img {
        width: auto;
    }

    .case-studies__sporting-event img {
        width: auto;
    }

    .case-studies__community-gathering img {
        width: auto;
    }
}

@media only screen and (max-width: 800px) {
    .case-studies__concert img {
        width: 100%;
        height: auto;
    }

    .case-studies__art-exhibit img {
        width: 100%;
        height: auto;
    }

    .case-studies__sporting-event img {
        width: 100%;
        height: auto;
    }

    .case-studies__community-gathering img {
        width: 100%;
        height: auto;
    }
}
