.footer-copyright {
    background-color: rgb(22, 22, 22);
    padding: 1rem 5rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright p {
    font-size: 13px;
}

@media screen and (max-width: 1000px) {
    .footer-copyright {
        padding: 1rem 2rem;
    }
}