.calendar-page__header {
    background-color: var(--color-primary);
    color: white;
    padding: 2rem;
    text-align: center;
}

.calendar-page__header > h1 {
    margin-bottom: 1rem;
}

.calendar-page__header > p:last-child {
    margin-top: 0.5rem;
}

.calendar-page__main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .event-calendar {
        margin-left: 3rem;
    }

    .calendar-page__main-content {
        display: block;
    }
}
