.event-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    width: 70rem;
}

.event-calendar__day-container {
    border: 0.15rem solid black;
    width: 8rem;
}

.event-calendar__event-list {
    margin-top: 0.5rem;
    list-style: none;
    text-decoration: none;
}



.event-calendar__empty-day {
    height: 10rem;
}

.event-calendar__today {
    background-color: rgb(255, 18, 18);
    color: white;
    text-align: center;
    border-radius: 100px;
    width: 2rem;
    padding: 0.25rem;
    margin: 0;
}

.event-calendar__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-calendar__header > div > button {
    text-decoration: none;
    border-color: black;
    margin-right: 1rem;
}
.event-calendar__header > div > button:last-child {
    margin-right: 0;
}

.day-status__text {
    text-align: center;
    margin-top: 2rem;
}

.day-status__Break {
    background-color: rgba(255, 98, 98, 0.761);
}
.day-status__Holiday {
    background-color: rgba(255, 231, 98, 0.761);
}
.day-status__Disaster {
    background-color: rgba(98, 174, 255, 0.761);
}

@media only screen and (max-width: 800px) {
    .event-calendar__header {
        justify-content: left;
    }

    .event-calendar__header > div {
        margin-left: 3rem;
    }
}