.event-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    width: 70rem;
}

.event-calendar__day-container {
    border: 0.15rem solid black;
    width: 8rem;
}

.event-calendar__event-list {
    margin-top: 0.5rem;
    list-style: none;
    text-decoration: none;
}

.event-calendar__event-list li {
    margin-bottom: 0.5rem;
}
.event-calendar__event-list li:last-child {
    margin-bottom: 0;
}

.event-calendar__event-list li > div {
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 5px;
}

.event-calendar__event-list li > div > h4 {
    margin-bottom: 0.5rem;
}

.event-calendar__empty-day {
    height: 10rem;
}

.event-calendar__today {
    background-color: rgb(255, 18, 18);
    color: white;
    text-align: center;
    border-radius: 100px;
    width: 2rem;
    padding: 0.25rem;
    margin: 0;
}

.event-calendar__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-calendar__header > div > button {
    text-decoration: none;
    border-color: black;
    margin-right: 1rem;
}
.event-calendar__header > div > button:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 800px) {
    .event-calendar {
        margin-left: 45rem;
    }

    .event-calendar__header {
        justify-content: left;
    }

    .event-calendar__header > div {
        margin-left: 3rem;
    }
}